#app {
	margin: 0.5%;
}

#tree {
  display: inline-block;
  padding: 10px 25px;
}

x.action input {
  width: 45px;
  height: 35px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid rgb(207, 201, 201);
}

#basic-actions, #tree, #algorithmColumn {
	padding-top: 0px;
}

#basic-actions .action {
  display: block;
  margin-top: 20px;
}

.ui .input {
	width: 75px;
	height: 36px;
	padding-top: 1px;
}

#actions div {
	display: block;
	padding: 10px;
}

#mode {
 	font-weight: bold;
    padding: 10px;
}

.app-link {
  	color: #61dafb;
}

x.ui.table tr th, x.ui.table tr td {
 	border: 1px solid rgb(129, 129, 129) !important;
}

.center {
	text-align: center;
}

.leftPadding {
	padding-left: 45px;
}

.ui.celled.table tr th, .ui.celled.table tr td.leftBorder {
    border-left: 1px solid rgba(34, 36, 38, 0.1) !important;
}

.ui.table tr td.topBorder {
	border-top: none;
}

.ui.segments:not(#conceptSegment) {
	width: 260px;
}
.ui.segment.actionSegment {
	margin: 0px;
}

.ui.toggle.button {
	width: 140px;
	border-radius:0px;
}

.algorithmColumn {
	height: 100vmax;
}

.ui.placeholder.segment {
	width: 100vmax;
	text-align: center;
}

* {margin: 0; padding: 0;}

.ui.teal.inverted.segment {
	margin: 0px;
	border-radius: 0px;
}

.ui.teal.menu {
	margin-bottom: 15px;
	margin-top: 0;
}

.ui.teal.menu .active.item {
	font-weight: bold;
}

.ui.toggle.button.active.activeButton, .ui.toggle.button.active.activeButton:hover {
	background: #3d98e7 !important;
}

.ui.modal.transition.visible {
	height: auto;
    margin-left: 30%;
    margin-top: 15%;
}

.ui .maxWidth {
	max-width: 720px;
}

.ui .whiteHeader {
	color:white !important;
	text-align: center;
}

.ui .raisedSegment {
	max-width: 720px;
	box-shadow: -2px 2px 4px 0px rgb(34 36 38 / 12%), 0px 2px 10px 0px rgb(34 36 38 / 15%) !important;
}

.ui .footer {
	opacity: 0.6;
}

.ui .margintop {
	margin-top: 2%;
}

.tree ul {
	padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li::before, .tree li::after {
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}

.tree li::after {
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

.tree li:only-child {
	padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}

.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	
}

.tree li.empty {
	width: 66px;
}

.tree li.empty::before {
	border: none;
}

.tree ul ul::before {
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}
